# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Drenock_GitHub\neuf_et_deux_font_onze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
